<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Patient List</h3>
  </div>
  <div class="container">
    <!-- The Modal-->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header for ADD Patient-->
          <div class="modal-header">
            <h4 class="modal-title">Add Patient Details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form [formGroup]="addForm" (ngSubmit)="addPatient(addForm.value)" class="form"
              enctype="multipart/form-data">

              <div class="form-group">
                <div class="input-group controls">
                  <label for="name">First Name</label>
                  <input formControlName="firstName" type="text" class="form-control" name="name">
                </div>
                <div class="input-group controls">
                  <label for="name">Last Name</label>
                  <input formControlName="lastName" type="text" class="form-control" name="name">
                </div>
                <div class="input-group controls">
                  <label for="name">Hospital Name</label>
                  <input formControlName="hospitalName" type="text" class="form-control" name="name">
                </div>
                <div class="input-group controls">
                  <label for="name">Contact Details</label>
                  <input formControlName="contact" type="text" class="form-control" name="name">
                </div>
                <div class="input-group controls">
                  <label for="name">Result</label>
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="result">
                    <option>POSITIVE</option>
                    <option>NEGATIVE</option>
                  </select>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" *ngIf="restMsg.message">
      <div class="col-md-8">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-6">
          <p class="alert alert-success">
            <strong>{{restMsg.message}} !!</strong>
          </p>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Patient Id</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Action</th>
          <th><button type="button" class="btn btn-primary" (click)="openPopup()">Add Patient</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patientsList | async">
          <td>{{patient.patientId}}</td>
          <td>{{patient.firstName}}</td>
          <td>{{patient.lastName}}</td>
          <td><button (click)="deletePatient(patient.patientId)" class="btn btn-danger">Delete</button>
            <button (click)="updatePatient(patient.patientId)" class="btn btn-primary"
              style="margin-left: 10px">Update</button>
            <button (click)="viewPatient(patient.patientId)" class="btn btn-primary" style="margin-left: 10px">View
              Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>